<div style="margin-top: 20px;">
  <%= form_with(model: @expense, url: expenses_path, method: :post) do |form| %>
    <div style="margin-bottom: 10px;">
      <%= form.label :date %>
      <%= form.date_field :date, class: 'form-control' %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= form.label :description %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= form.label :amount %>
      <%= form.number_field :amount, class: 'form-control' %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= form.label :payer_id %>
      <%= form.collection_select(:payer_id, User.all, :id, :name, { prompt: 'Select Payer' }, { class: 'form-control' }) %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= form.label :participant_ids, 'Participants' %>
      <% User.all.each do |user| %>
        <div>
          <%= check_box_tag 'expense[participant_ids][]', user.id, false, class: 'form-check-input' %>
          <%= label_tag "expense[participant_ids][]", user.name, class: 'form-check-label' %>
        </div>
      <% end %>
    </div>

    <div>
      <%= form.submit 'Create Expense', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
